
  
  <%- include('layouts/head')  %>
  <%- include('layouts/navbar') %> 

  <h1>halaman utama</h1>
  <h2>subtitle</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic excepturi consectetur doloribus sunt aperiam. Dolorum, perferendis consequuntur. Est, a sint?</p>

  
  <%- include('layouts/footer')  %>