<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    header{
      background: rgb(152, 152, 153);
      height: 70px;
    }
    .flex{
      display: flex;
      gap: 2rem;
      align-items: center;
      height: 100%;
      
    }
    ul{
      list-style: none;
      
    }
    a{
      text-decoration: none;
      color: #fff;
    }
  </style>
</head>
<body>
  <header>
    <ul class="flex">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/pricing">Pricing</a></li>
    </ul>
  </header>
  <h1>halaman utama</h1>
  <h2>subtitle</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic excepturi consectetur doloribus sunt aperiam. Dolorum, perferendis consequuntur. Est, a sint?</p>
</body>
</html>