
  
  <%- include('layouts/head')  %>
  <%- include('layouts/navbar') %> 

  <h1>halaman utama</h1>
  <h2>subtitle</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic excepturi consectetur doloribus sunt aperiam. Dolorum, perferendis consequuntur. Est, a sint?</p>

  <h3>daftar kontak : </h3>
  <% dummyData.forEach(element => { %>
    <ul>
      <li><%= element.name  %> </li>
    </ul>
  <% }) %>
  <%- include('layouts/footer')  %>