<%- include('layouts/head')  %>
<%- include('layouts/navbar') %> 
<h1>pricing page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, vero placeat voluptate illum asperiores, saepe eveniet nobis, quos eaque eius quo ipsam. Possimus voluptate aliquam, cum in adipisci, dignissimos optio sit incidunt iste corrupti quis cupiditate? Ipsum ducimus neque rem, eveniet soluta cumque mollitia voluptate obcaecati ratione velit illum necessitatibus tempore quae alias sed praesentium dignissimos beatae. Atque aliquid consectetur dolorum eaque perspiciatis inventore dignissimos dolores earum nisi nostrum ea quia et quo totam, autem alias perferendis magnam similique itaque aut omnis magni deserunt. Ipsam, nostrum labore iure, quos odit quis porro saepe vitae explicabo harum similique incidunt, id ipsum!</p>

<%- include('layouts/footer') %> 