<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Pricing page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam culpa, dolorum fuga dolorem cumque minus perspiciatis consectetur numquam odit in quasi est eos amet, veritatis, ipsum similique at nesciunt enim deleniti a! Corrupti recusandae est, eius debitis dolore esse, maxime laboriosam saepe, explicabo rerum ipsum! Illo, obcaecati veniam. Velit voluptate neque illum sint ipsum ipsa enim cumque atque tenetur excepturi provident incidunt id soluta magni temporibus fugit laudantium dolores voluptatibus, quis sit accusantium qui officia consequatur. Magnam autem eveniet veritatis debitis, minima nisi labore culpa accusantium id natus harum repellat dolorem a similique tenetur ipsam odio earum dolorum molestiae nam.</p>
</body>
</html>